@media screen and (max-width:600px) {
    .header-section {
        flex-direction: column;
        margin-left: 50px;
       
    }
    .item-container{
        flex-direction: column;
        gap: 10px;
}
.nav-container{
    width: 100%;
    justify-content: center;
}

.item-container{
    width: 100%;
}
.banner-section{
    flex-direction: column;
}
.text-container{
    width: 100%;
    
}
.banner-images-container{
    width: 100%;
}
.banner-images-container img{
    width: 100%;
   margin-top: 30px;
    
}
}

@media screen and (max-width:600px) {
    .images-container{
        flex-direction: column;
        
    }

    .image-container{
        flex-direction: column;
       
    }

    .photo-container{
        flex-direction: column;
        
    }
    /* from style mobile */

    .from-section{
        flex-direction: column;
        gap: 20px;
    }
    .box-container {
        width: 100%;
    }
    .discount-container{
        width: 100%;
        
    }
}
  