@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Poppins', sans-serif;
}

/* nav bar style start */

.header-section{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.nav-container{
    min-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.nav-container img{
    width: 48px;
    object-fit: cover;
}

.nav-container p{
    font-size: 25px;
    font-weight: 800;
}

.apecila{
    color: #FF5400;
}

.item-container{
       width: 50%;
       display: flex;
       justify-content: space-around;
       align-items: center;
       
}

.item-container a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}
/* nav bar style end */


/* banner section start */

.banner-images{
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    
}
.text-title{
    text-align: center;
    color: #FFF;
    
    
}

.explore{
    font-size: 64px;
    
}

/* banner-section style start */

.banner-section{
    max-width: 1250px;
    /* border: 2px solid tomato; */
    min-height: 400px;
    display: flex;
    
}

.text-container{
    /* border: 2px solid green; */
    width: 50%;
}

.banner-images-container{
    /* border: 2px solid violet; */
    width: 50%;
}

.banner-images-container img{
    width: 70%;
    display: block;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}

.popular{
    color: #131318;
    text-align: center;
    font-size: 40px
}

.text-mening li{
    color:rgba(19, 19, 24, 0.70);
    font-size: 16px;
    text-align: center;
}

.damo-style{
    color: #5A5A5D;
    font-size: 16px;
    text-align: center;
}

.read-more{
    height: 30px;
    background-color: #FF5400;
    color: #FFFFFF;
    font-size: 20px;
}